body {
  padding-bottom: 5em;
  padding-top: 2.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: sans-serif;
  background-color: WhiteSmoke;
}

h2 {
  font-size: 120%;
  font-weight: normal;
  text-decoration: underline;
}

#divImage {
  text-align: center;
}

#divImage img {
  max-width: 95%;
}

#divPointTrack {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

#divNav {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0.5em;
  text-align: center;
  background-color: white;
  border: medium inset;
}

#rngScrub {
  width: 95%;
}

#pStatus {
  color: palegreen;
  background-color: black;
  font-size: 150%;
  font-family: monospace;
  border: medium outset;
  padding: 0.25em;
}

#divLoad {
  margin-top: 2em;
}

#divLoadInternal {
  padding: 0.5em;
  background-color: white;
  border: medium inset;
}

#divLoad td {
  max-width: 20em;
}
